@charset "utf-8";
/* CSS Document */
/*a.button {
    padding:0px 4px 1px 4px;
    margin:0px 2px 4px 0;
}

	.button span {
		 display: inline;
		 padding:3px 7px 6px 12px;
	}

		.button span i{
		   position: absolute;
		   left: 0px;
		   top:0;
		}

.navigation .paginator li a.button {
		margin:1px 0px 2px 0;
		padding:0 4px 1px 4px;
	}
	.navigation .paginator li a.button span {
		padding:3px 8px 6px 4px;
	}*/

#nav {
	top:-41px;
}
.bread-nav a {
	background:url(../images/bread.png) no-repeat 0 0px;
}
#content {
	margin:-40px auto 0;
}
.post {
	display:inline-block;
	zoom:1;
}
.toggle a.question strong{
	float:left;
}
.toggle div.answer {
	clear:both;
}
/*.basic a i.q_a{
	margin:-16px 2px 0 0;
}
.basic a.selected i.q_a{
	margin:-17px 4px 0 0;
}*/
.basic div.accord div {
	width:100%
}
.toggle {
	overflow:hidden;
}
.item-blog {
	display:inline;
	zoom:1;
	width:100%;
}
.post img {
	float:left;
}

.gallery li {
	display:inline;
	zoom:1;
}
.pholio-info {
	top:20px
}
.widget .border_box span.border {
	top:11px;
}
.widget.no-header .border_box {
	margin-bottom:11px;
	margin-top:-6px
}
.search .button span {
	padding:5px 7px 3px 2px
}
.paginator-r a.prev span, .paginator-r a.next span {
	padding:4px 10px 2px 6px
}
ul.nav-tab {
	width:100%
}
.post.first {
	padding:0 0 5px 0
}
.post {
    padding: 12px 0 8px;
}
.twits .post.first {
	padding:14px 20px 13px;
}
.img-frame .com-info .com-inner span {
	top:45%;
	position:relative;
	margin:0 auto;
}
.inner-desc {
	width:268px;
}
.inners {
	width:253px
}
.ps_slider .ps_album .ps_desc {
	width:213px
}
#brand {
	z-index:100
}
#wrap, #supercontrols {
	z-index:99
}